# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node (Tailwind)
node_modules/

# Django Static Assets (generated on deploy)
staticfiles/
