{% extends "institute_layout.html" %}
{% block title %}institute{% endblock title %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <div class="flex-1 p-8">

    <h1 class="text-3xl font-bold mb-6">Bus Management</h1>

    <button onclick="window.location.href='{% url 'route' %}'"
    class="bg-blue-600 text-white px-4 py-2 rounded mb-6">
    Add Bus
    </button>

    <div id="busGrid" class="grid grid-cols-1 md:grid-cols-2 gap-6">

      <!-- Bus card example -->
    <div class="bg-white rounded-xl shadow p-5 flex flex-col justify-between">
            <div class="flex justify-between items-center">
            <h3 class="text-xl font-semibold">BUS-101</h3>
            <p class="text-sm text-gray-600">Route A</p>
            </div>
        <div class="mt-4 flex flex-wrap gap-2">
          <button class="flex-1 bg-green-500 text-white px-3 py-2 rounded hover:bg-green-600">
            Edit
          </button>
          <button class="flex-1 bg-red-500 text-white px-3 py-2 rounded hover:bg-red-600">
            Delete
          </button>
        </div>
    </div>

        <div class="bg-white rounded-xl shadow p-5 flex flex-col justify-between">
            <div class="flex justify-between items-center">
            <h3 class="text-xl font-semibold">BUS-101</h3>
            <p class="text-sm text-gray-600">Route A</p>
            </div>
        <div class="mt-4 flex flex-wrap gap-2">
          <button class="flex-1 bg-green-500 text-white px-3 py-2 rounded hover:bg-green-600">
            Edit
          </button>
          <button class="flex-1 bg-red-500 text-white px-3 py-2 rounded hover:bg-red-600">
            Delete
          </button>
        </div>
    </div>


     <div class="bg-white rounded-xl shadow p-5 flex flex-col justify-between">
            <div class="flex justify-between items-center">
            <h3 class="text-xl font-semibold">BUS-101</h3>
            <p class="text-sm text-gray-600">Route A</p>
            </div>
        <div class="mt-4 flex flex-wrap gap-2">
          <button class="flex-1 bg-green-500 text-white px-3 py-2 rounded hover:bg-green-600">
            Edit
          </button>
          <button class="flex-1 bg-red-500 text-white px-3 py-2 rounded hover:bg-red-600">
            Delete
          </button>
        </div>
    </div>

    </div>
    </div>

{% endblock content %}